*{margin: 0;
  padding: 0;}
  body{background-color: blanchedalmond;}
header{
    background-image:url(../img/background\,jpg.png)!important;
    background-repeat:(cover)!important;
    width: auto;
    height: 60px;
    }
   .bg-body-tertiary {--bs-bg-opacity: 0;
    background-color: white ;
    font-family: sans-serif;font-style: italic;
      
       }
     .toggler-icon-mine{
      background-image: url(../img/1112536-200.png)!important;
     }
       .nav:visited{font-weight:bold;
          font-family : fantasy;
          color:red !important }
    h1 { text-align: center;
        color: teal;
        font-family:Helvetica;
        font: size 2fr;;
      }
    main{ text-align: start;
      align-items: end;}
     section div h2{text-align: center;
      color: purple;
      margin-left: 2px; }
     .p1::first-letter{ color: gold;
      font-size: larger;
      font-family: Tahoma,}
     footer h4{text-align: center;
      color:black ; 
      font-family: 'Times New Roman';}
     .seccion3 h2{color:rgb(89, 17, 156);
      text-align: center;}
     .sx1{color:orangered;
      text-align: center;}
     .sx2{color:orange;
      text-align: center;}
     .sx3{color:blue;
      text-align: center; }
     .sx4{color:plum;
      text-align: center;}
     .p{color:black;
      text-align: justify;}
     .cur h4 {color: burlywood;
      text-align:center;}
     .cur h4 p{color:black;
      font-family: Arial;}
     .cur h2{color:greenyellow;
      text-align: center;}
     .us h2{ color:black;
      text-align:center;}
     .us p:first-letter{color:blue}
     .us ol li {font-family:'Franklin Gothic Medium';
      color:rgba(rgba(18, 16, 133, 0.788), green, blue, alpha)}
     .v3{color:navy;
      font-family: cursive;
      text-align: center;}
     .card1{background-color:teal;
      font-family:Arial;!important}
     .card2{background-color:rgb(red, rgb(73, 139, 73), blue) ;
      font-family: arial;!important}
     .card3{background-color: rgb(red, rgb(80, 204, 80), blue);
      font-family: arial;!important}
     .btn-primary{background-color: cadetblue; !important}