header{background-image:url(../img/jazmin3.webp)!important; 
           background-repeat:cover;
               width:auto;
                  height:100px;
                     .bg-body-tertiary {--bs-bg-opacity: 0;
                         background-color: white ;
                            font-family: sans-serif;
                               font-style: italic; 
                                         text-decoration: underline;
                                            text-decoration-color: green;
                                            .toggler-icon-mine{
                                               background-image: url(../img/1112536-200.png)!important;
                                                   .nav:visited{font-weight:bold;
                                                        font-family : fantasy;
                                                            color:red !important 
                                                          }
                                                        } 
                                                    } 
                                                }
          
                          